$orange: rgba(255, 123, 0, 0.87);
$white: rgb(211, 211, 211);
$brown: rgba(165, 61, 42, 0.877);
$black: black;

#head {
  width: 100vw;
  background-color: $black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.hbutt {
  width: 200px;
  text-decoration: none;
  color: $white;
  font-weight: bold;
  font-size: large;
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  background-color: $orange;
  border: 1px solid $orange;
  border-radius: 5px;
}

.hbutt:hover {
  background-color: $brown;
  color: white;
}

.logo {
  height: 50px;
  border-radius: 100px;
}
